<!DOCTYPE html>
<html lang="en">
<head>
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Oleo+Script:wght@700&family=Quicksand:wght@300;500&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styleSheet/stylesheet.css">
    <link rel="stylesheet" href="../styleSheet/destination.css">
    <title>Travle Goles</title>
</head>
<body>
    <header id="header-container">
        <div id="page-logo">
            <h3><em><a href="../index.html">Travle Goles</a></em></h3>
        </div>
        <nav>
            <ul>
                <li><a href="../component/destination.html">Destination</a></li>
                <li><a href="../component/about.html">About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="description-part-One">
            <ul>
                <li>
                    <img src="../images/barcelona.jpg" alt="Ocean"/>
                    <div class="item-content">
                        <div>
                            <h2>Barcelona <strong>Spain</strong></h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit... </p>
                        </div>
                        <div class="actions">
                            <a href="https://en.wikipedia.org/wiki/Barcelona">Explore -></a>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
    </main>
    <footer id="app-fotter">
        <ul>
            <li>
                <a href="https://www.instagram.com/accounts/login/">
                    <img src="../images/insta.png"/>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/">
                    <img src="../images/facebook.png"/>
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>