<!DOCTYPE html>
<html lang="en">
<head>
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Oleo+Script:wght@700&family=Quicksand:wght@300;500&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styleSheet/stylesheet.css">
    <title>Travle Goles</title>
</head>
<body>
    <header id="header-container">
        <div id="page-logo">
            <h3><em><a href="../index.html">Travle Goles</a></em></h3>
        </div>
        <nav>
            <ul>
                <li><a href="../component/destination.html">Destination</a></li>
                <li><a href="../component/about.html">About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="distination-part-One">
        </section>
        <section id="home-part-Two">
            <h2>Highlights
            <ul>
                <li>
                    
                    <img src="../images/miami.jpg" alt="Sctreets"/>
                    <p>Miami <strong>USA</strong></p>
                </li>
                <li>
                    <img src="../images/munich.jpg" alt="football"/>
                    <p>Munich <strong>Garmany</strong></p>
                </li>
                <li>
                    <img src="../images/barcelona.jpg" alt="Ocean"/>
                    <p>Barcelona <strong>Spain</strong></p>
                </li>
            </ul>
            </h2>
        </section>
    </main>
    <footer id="app-fotter">
        <ul>
            <li>
                <a href="https://www.instagram.com/accounts/login/">
                    <img src="../images/insta.png"/>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/">
                    <img src="../images/facebook.png"/>
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>